doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous')
    link(rel='shortcut icon' href='images/favicon.ico')
    link(rel='stylesheet' href='css/utilities.css')
    link(rel='stylesheet' href='css/style.css')
    title ExJpConnect | Get new and used japan vehicles 
  body
    .navbar
      .container.flex
        h1.logo
          span
            a(href='/') ExJpConnect
        nav
          ul
            li
              a(href='inventory.html') Inventory
            li
              a(href='about.html') About us
            li
              a(href='contact.html') Contact us
    // Head
    section.contact-head.bg-primary.py-3
      .container.grid
        div
          h1.xl Contact Us
          p.lead For any issues or inquiries don't hestitate to contact us 
    section.contact-main.my-4
      .container.grid
        .car.bg-light.p-3
          h2.my-1 Japan
          nav
            ul
              li ExJpLimited
              li 1241-1 matomurago
              li 851-2103 Nagasaki japan
              li Tel: +818092400429
              li Email: info@exjpconnect.com
          h2.my-1 Kenya
          nav
            ul
              li CARFANGA DEALERSHIP
              li P.O BOX 7472-00100
              li NAIROBI, KENYA
              li MOKTAR DADDAHST
              li VALJI BUILDING
              li 1ST FLOOR RM 103
              li Tel: +254792438349
        .contact-form.card
          h2.text-center CONTACT FORM
          form.form-contact
            .form-control
              label(for='contact-name')
              input#contact-name(type='text' name='Name' placeholder='Name')
            .form-control
              label(for='contact-phoneNumber')
              input#contact-phoneNumber(type='text' name='phoneNumber' placeholder='Phone Number')
            .form-control
              label(for='contact-email')
              input#contact-email(type='email' name='email' placeholder='Email address')
            .form-control
              label(for='contact-description')
              textarea#contact-description.my-1(name='description' rows='8' cols='80' placeholder='your message')
            input.btn.btn-primary(type='submit' value='submit')
    footer.footer.bg-dark.py-5
      .container.grid.grid-3
        div
          h1 ExJpConnect
          p Copyright &copy; 2021
        nav
          h3 Quick Links
          ul
            li
              a(href='inventory.html') Inventory
            li
              a(href='about.html') About us
            li
              a(href='contact.html') Contact us
              .social
                a(href='https://twitter.com/ExJpConnections')
                  i.fab.fa-twitter.fa-2x
                a(href='https://www.facebook.com/exjpconnect')
                  i.fab.fa-facebook.fa-2x
                a(href='#')
                  i.fab.fa-instagram.fa-2x
